.info_body {
    background-image: url("../Icon/Aboutusicon.jpg");
    background-size: cover;
}

.navbar .navbar-brand img {
    width: 50px;
    height: 30px;
    border-radius: 50%;
}

.navbar {
    -webkit-box-shadow: 0px 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
}

.aboutus_header {
    width: 100%;
    color: white;
    font-family: 'Carattere', cursive;
    font-size: 500%;
}

.aboutus_header img {
    width: 100%;
    object-fit: cover;
    height: 300px;
    -webkit-box-shadow: 0px 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
    position: relative;
    filter: blur(2px) brightness(80%);
}

.aboutus_header h1 {
    position: absolute;
    top: 25%;
    width: 100%;
    text-align: center;
}

.team_info {
    padding: 50px;
}

.team_info .web_introduce{
    color: #345B63;
    padding-bottom: 100px;
}

.team_info .web_introduce h2{
    text-align: center;
    padding-bottom: 50px;
}

.team_info .web_introduce h3{
    box-shadow: 0px 0px 16px -6px black;
    padding: 20px;
}

.team_info .devteam_title h1{
    text-align: center;
    padding-bottom: 100px;
    color: #345B63;
}

.team_info .avatar img {
    position: relative;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    box-shadow: 7px 7px 7px -3px black;
    transition: ease-in-out .5s;
}

.team_info .avatar img:hover {
    height: 205px;
    width: 205px;
    box-shadow: 10px 10px 10px -4px black;
    filter: blur(2px);
}

.team_info .avatar {
    text-align: center;
}
.team_info .avatar p{
    position: absolute;
    width: 100%;
    text-align: center;
    color: white;
    top: 43%;
    opacity: 0;
    z-index: 1;
    transition: ease-in-out 1s;
    font-family: 'Carattere', cursive;
}

.team_info .avatar:hover p{
    opacity: 1;
}

.team_info,
.khoatd,
.haotn,
.longnnh,
.tamt {
    padding-bottom: 200px;
}

.team_info .content {
    color: #345B63;
    box-shadow: 10px 10px 10px -6px black;
    font-size: large;
    font-style: italic;
    transition: ease-in-out 0.5s;
}

.team_info .content:hover{
    box-shadow: 10px 10px 10px -2px black;
}

.team_info .haotn .content{
    color: #345B63;
    box-shadow: -10px 10px 10px -6px black;
    font-size: large;
}

.team_info .haotn .content:hover{
    box-shadow: -10px 10px 10px -2px black;
}

.team_info .tamt .content{
    color: #345B63;
    box-shadow: -10px 10px 10px -6px black;
    font-size: large;
}

.team_info .tamt .content:hover{
    box-shadow: -10px 10px 10px -2px black;
}


@media only screen and (max-width: 768px) {
    .team_info .haotn .avatar {
        order: 1;
    }

    .team_info .haotn .content {
        order: 2;
    }

    .team_info .tamt .avatar {
        order: 1;
    }

    .team_info .tamt .content {
        order: 2;
    }
}

.aboutus_footer{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #506D84;
    font-family: 'Carattere', cursive;
    color: white;
}