@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

body {
    overflow-x: hidden;
}

.container-fluid {
    padding: 0;
    margin: 0;
}

.container{
    min-height: max-content;
    padding:1px;
}

/* BLOG_CONTAINER */
.parallax-window {
    height: 50vh;
    margin-bottom: 5vh;
}

.parallax-window img {
    width: 100%;
}

.blog-title{
    border-bottom: 0.2px rgb(219, 219, 219) solid;
}

.blog-title h1 {
    color: #203656;
    font-size: calc(30px + 18 * ((100vw - 430px) / 770));
    font-weight: 600;
}

.edit-btn{
    padding: 0 0.5rem;
    background: orange;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.15);
}

.blog-note ul {
    display: flex;
    list-style: none;
    justify-content: right;
}

.blog-note ul li {
    margin: 0 1rem;
}
s

.blog-content .blog-text {
    font-size: calc(16px + 2 * ((100vw - 430px) / 770));
}

.blog-content img{
    width: 100%;
}

.blog-vote{
    width: 100%;
    padding: 0.5rem 0;
    border: 0.2px rgb(219, 219, 219) solid;
    border-left: none;
    border-right: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blog-vote .fas{
    color: #203656;
}

.blog-vote span{
    color: #203656;
    font-size: 18px;
}

.web-introduce {
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    padding: 2rem 1rem;
    text-align: center;
    border-radius: 10px;
    margin-top: 5vh;
}

.web-introduce .logo-title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #203656;
}

.web-introduce .logo-title img {
    width: 4rem;
}

.author-introduce {
    color: #203656;
    text-align: center;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding: 1rem;
    height: max-content;
    margin-top: 5vh;
}

.author-introduce .reward {
    margin-top: 2rem;
}

.author-introduce .reward .fas {
    padding: 0 10%;
    color: orange;
    line-height: 1.7;
}

.explore-topics {
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    padding: 2rem 1rem;
    border-radius: 10px;
    text-align: center;
    margin-top: 5vh;
}

.topic-list ul {
    padding: 0;
}

.topic-list li {
    display: flex;
    list-style: none;
    justify-content: space-between;
    border-bottom: 0.2px rgb(219, 219, 219) solid;
    padding: 0.5rem 0;
}

.register-invitation {
    text-align: center;
    color: #203656;
    border-radius: 10px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    padding: 1rem 0.5rem;
    margin-top: 5vh;
    line-height: 1.6;
}

.register-invitation button{
    padding: 0.5rem;
    border-radius: 20px;
    border: none;
    background: orange;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    margin-top: 3rem;
}

.user-vote{
    margin: 0.5rem 0;
}

.user-vote button{
    background: transparent;
    transition: all 0.2s;
}

.user-vote button:hover i{
    transform: scale(1.1);
}

.user-vote .vote-menu{
    min-width: 5rem;
    padding: 0;
    margin: 0;
}

.vote-register{
    text-align: center;
    min-width: 20rem;
    padding: 0 0 1rem 0;
    margin: 0;
}

.vote-register button{
    background: orange;
}

.vote-menu li{
    text-align: center;
    border: 0.2px rgb(219, 219, 219) solid;
    border-left: none;
    border-right: none;
    padding: 0.3rem 0;
}

.vote-menu li:hover{
    background: orange;
    cursor: pointer;
}

.vote-menu li:nth-child(1){
    color: red;
}

.vote-menu li:nth-child(2){
    color: purple;
}

.vote-menu li:nth-child(3){
    color: blue;
}

.vote-menu li:nth-child(4){
    color: green;
}

.vote-menu li:nth-child(5){
    color: gray;
}

@media only screen and (min-width: 992px) {
    .right-colum {
        margin-top: 200px;
    }
}

@media only screen and (max-width: 768px) {
    .parallax-window {
        height: 20vh;
        margin-bottom: 5vh;
    }
}

.comment-section {
    margin-top: 20px;
    font-size: calc(16px + 2 * ((100vw - 430px) / 770));
    height: 100%;
}

.comment-section h2 {
    margin: 2rem 0;
    color: #203656;
}

.comment-window {
    width: 100%;
    height: 500px;
}

/* this is footer */

.web-footer {
    height: 100px;
    color: #9faabb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    padding: 0 4rem;
    border-top: 0.2px rgb(219, 219, 219) solid;
}

.web-footer button {
    background: orange;
    border-radius: 40px;
    padding: 0.5rem;
    border: none;
    box-shadow: 0 2px 10px 0px rgba(0, 0, 0, 0.15);
}

.web-footer button:active {
    box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.15);
    transform: translateY(-1px);
}

button.award-btn{
    background: transparent;
    border: none;
    padding: 0.3rem;
    border-radius: 5px;
    transition: all 0.2s;
}

button.award-btn:hover i{
    transform: scale(1.1);
}

.comment-section{
    height: 80vh;
}/*

.comment-window{
    height: 90vh;
    padding-top: 20vh;
    padding-bottom: 20vh;
    padding-right: 40vh;
}*/