.navbar .navbar-brand img {
    width: 50px;
    height: 30px;
    border-radius: 50%;
}

.navbar {
    -webkit-box-shadow: 0px 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
}

.search-navbar{
    width: 100%;
    display: flex;
}

.xavalo img {
    width: 100%;
    object-fit: cover;
    height: 300px;
    -webkit-box-shadow: 0px 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
    position: relative;
    filter: blur(0px) brightness(80%);
    transition: ease-in-out .5s;
}

.xavalo:hover img {
    filter: blur(3px) brightness(65%);
}

.xavalo h1 {
    position: absolute;
    top: 25%;
    width: 100%;
    text-align: center;
    opacity: 1;
    transition: ease-in-out 1s;
}

.xavalo h2 {
    position: absolute;
    top: 25%;
    width: 100%;
    text-align: center;
    opacity: 0;
    transition: ease-in-out 1s;
}

.xavalo:hover h1 {
    opacity: 0;
}

.xavalo:hover h2 {
    opacity: 1;
}

.xavalo h1,
h2 {
    color: white;
    font-family: 'Carattere', cursive;
    font-size: 500%;
}

.header-bar {
    height: 100px;
}

.container-fluid {
    padding: 0 50px 0 50px;
}

.category-name {
    padding: 0 0 20px 20px;
}


@media screen and (max-width: 768px) {
    .category-name h1{
        font-size: 8vw;
    }
}

.blog-box {
    padding: 20px;
    text-align: center;
    font-family: 'Inconsolata', monospace;
}

.pic-box {
    background-color: rgba(128, 126, 126, 0.15);
    text-align: center;
}

.pic-box h5 {
    position: absolute;
    top: 70%;
    height: 25px;
    width: 85%;
    overflow: hidden;
    color: white;
    opacity: 0;
    font-weight: 400;
    transition: all 0.2s;
}

.pic-box:hover h5 {
    opacity: 1;
}

.pic-box:hover img {
    filter: brightness(90%);
}

.blog-box img {
    width: 100%;
    height: 250px;
    border-radius: 10px;
    object-fit: cover;
    position: relative;
    transition: all 0.2s;
}

.small-description {
    display: flex;
    justify-content: space-between;
    font-weight: 300;
    align-items: center;
}