@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

body {
    overflow: hidden;
    min-height: 100vh;
    width: 100%;
    position: relative;
}

.container-fluid {
    margin: 0;
    padding: 0;
}

h1{
    color: #203656;
}
/* NAVBAR */

#header-default {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 3rem;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.1);
}

a:visited,
a:link {
    text-decoration: none;
    color: black;
}

a:hover {
    color: black;
}

.header-left {
    display: flex;
    align-items: center;
}

.header-left .site-logo a img {
    border-radius: 50%;
    width: 4rem;
}

.header-left .options-btn {
    margin-left: 5rem;
}

.header-left .options-btn button {
    padding: 0.5rem;
    border-radius: 20px;
    border: none;
    background: transparent;
}

.header-left .options-btn .active-btn {
    background: orange;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.35);
}

.header-left .options-btn a {
    margin: 0 1rem;
}

.header-right {
    display: flex;
    align-items: center;
}

.header-right a:visited,
.header-right a:link {
    color: black;
}

.header-right .search-btn {
    margin-right: 0.5rem;
}

.header-right .search-btn .search-button {
    background-color: transparent;
    border: none;
    padding: 0.4rem 0.7rem;
    border-radius: 50%;
    background: orange;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}

.header-right .search-btn .search-button:active {
    transform: translateY(-0.05rem);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.35);
}

.header-right .menu-button {
    border: none;
    background-color: transparent;
}

.header-right .dropdown-menu {
    padding: 1rem;
}

.header-right .dropdown-menu li:hover {
    background-color: orange;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    font-size: 17px;
}

.header-right .dropdown-menu .avatar,
.header-right .dropdown-menu .personal-menu,
.header-right .dropdown-menu .public-menu {
    padding: 1rem;
    min-width: 15rem;
}

.header-right .dropdown-menu .avatar {
    text-align: center;
    border-bottom: 0.2px rgb(219, 219, 219) solid;
}

.header-right .dropdown-menu .avatar img {
    border-radius: 50%;
    width: 3.5rem;
    height: 3.5rem;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}

.header-right .dropdown-menu li {
    padding: 0.5rem;
}

.header-right .dropdown-menu .personal-menu {
    border-bottom: 0.2px rgb(219, 219, 219) solid;
}

.header-right .notify .dropdown-menu li:hover {
    background-color: orange;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    font-size: medium;
}

.header-right .notify {
    margin: 0 0 0 1rem;
}

.header-right .notify .notify-button {
    border: none;
    background: orange;
    padding: 0.4rem 0.7rem;
    border-radius: 50%;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.15);
    position: relative;
}

.header-right .notify .num {
    position: absolute;
    top: -30%;
    right: -20%;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background: red;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.35);
    text-align: center;
    color: white;
}

.notify-box {
    min-width: 30vw;
}

.notify-box a {
    display: flex;
    align-items: center;
}

.notify-box .notify-icon {
    width: 10%;
}

.notify-box .new {
    border-bottom: 0.2px rgb(219, 219, 219) solid;
}

.notify-box .notify-content {
    width: 80%;
}

.notify-box .notify-content .title {
    font-size: large;
}

.notify-box li:hover .notify-content .date {
    font-size: small;
    color: rgb(0, 0, 0);
}

.notify-box li:hover .notify-status {
    color: red;
}

.notify-box .notify-content .date {
    font-size: small;
    color: rgb(255, 145, 0);
}

.notify-status {
    color: orange;
    text-align: right;
    width: 10%;
}

.notify-window {
    width: 100%;
    height: 50vh;
}

@media only screen and (min-width: 0px) and (max-width: 480px) {
    #header-default {
        padding: 0.5rem 0;
    }

    .header-right .notify {
        margin: 0 0 0 0.5rem;
    }

    .notify-box {
        min-width: 100vw;
    }
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
    .notify-box {
        min-width: 50vw;
    }
}

/* left navigator */
.option-table {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    left: 0;
    text-align: center;
    position: fixed;
    width: 250px;
    background-color: #FF9A00;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.5);
}

.user-avatar {
    padding: 1rem 0;
    border-bottom: 0.2px rgb(255, 255, 255) solid;
    color: #203656;
}

.user-option,
.public-option {
    border-bottom: 0.2px rgb(255, 255, 255) solid;
}

.option-table li {
    list-style: none;
    padding: 1rem 0;
    transition: all 0.3s;
    background: none;
}

.option-table li.active{
    background: white;
    color: black;
    border-radius: 20px 0 0 20px;
    border: none;
}

.option-table li:hover {
    background-color: white;
    border-radius: 20px 0 0 20px;
}

.active-page {
    background: white;
}

.option-table a li{
    position: relative;
}

.table{
    color: #203656;
}

.table .btn-action{
    background: orange;
    border: none;
    padding: 0.2rem 0.5rem;
    border-radius: 20px;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.1);
}

.user-area h1{
    margin: 5vh;
}

.pagination{
    justify-content: center;
}

.page-item.active .page-link{
    background: orange
}

