body, html{
    min-height: 110%;
}

body{
    background-image: url(../Icon/selfmademan.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.login_table {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background: rgb(7, 46, 49, 0.8);
    box-shadow: 10px 10px 10px -6px black;
}

.loginform {
    padding: 2vh 4vw 4vh 4vw;
}

.loginform input[type="text"],
input[type="password"] {
    border-radius: 20px;
    height: 50px;
    width: 300px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.08);
    border: 1px solid transparent;
    transition: ease-in-out 0.2s;
    color: white;
}

.loginform input[type="date"] {
    border-radius: 20px;
    height: 50px;
    width: 300px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.08);
    border: 1px solid transparent;
    transition: ease-in-out 0.2s;
    color: white;
}

.loginform input[type="date"]:focus {
    outline: none;
}

.loginform input[type="date"]:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.loginform .btn {
    border-radius: 20px;
    height: 50px;
    width: 300px;
}

.loginform input[type="text"]:focus,
input[type="password"]:focus {
    outline: none;
}

.loginform input[type="text"]:hover,
input[type="password"]:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.loginform h1 {
    color: white;
}

::placeholder {
    color: white;
}

.loginform .enter-field {
    padding-top: 5px;
    padding-bottom: 5px;
}

.button {
    padding-top: 30px;
}

.loginform a:link {
    text-decoration: none;
}

.loginform a:visited {
    color: white;
}

.loginform h6{
    margin-top: 4vh;
}